body {
  background: #ED213A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,
h2,
h3 {
  font-family: 'Lora', serif;
  color: white;

}

p {
  font-family: 'Roboto Slab', serif;
}

i {
  font-size: 25px;
}

.text-center>i {
  text-align: center;
}

.container {
  margin-left: 400px;
  margin-right: 400px;
  width: 500px;
  /* This sets the width */
  margin: 0 auto;

}

.card {
  background: #e9290f;
  padding-bottom: 30px;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}


.card-links {
  padding: 30px;
  background: #e9290f;
  border-radius: 4px;
  text-align: justify;
  margin-bottom: 20px;
}

.list-inline {
  padding-left: 0px;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding: 0px 20px;
}

#profile-photo {
  width: 300px;
  padding-top: 20px;
  padding-left: 50px;
}